<!-- <nav class="main__menu__nav hidden-xs hidden-sm">
    <ul class="main__menu"> -->
<ng-template>
    <li *ngFor="let category of categories" class="drop">
        <a href="#">{{category.name}}</a>

        <ul class="dropdown mega_dropdown">
            <!-- Start Single Mega MEnu -->
            <li *ngFor="let secondChild of category.categories">
                <a class="mega__title" href="product-grid.html">{{secondChild.name}}</a>
                <ul class="mega__item">
                    <li *ngFor="let thirdChild of secondChild.categories">
                        <a href="product-grid.html">{{thirdChild.name}}</a>
                    </li>
                </ul>
            </li>
            <!-- End Single Mega MEnu -->

        </ul>
    </li>
</ng-template>
<!-- </ul>
</nav> -->